version: "3.9"

services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: devtrack
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:7

  backend:
    build: ./backend
    depends_on:
      - postgres
      - redis

  frontend:
    build: ./frontend

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
      - frontend

volumes:
  db-data:
